<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<clear />
	<connectionStrings>
		<add name="myConnectionString"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=DESKTOP-0CQ30RI\SQLEXPRESS;Initial Catalog=SistemaGestion;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;"
			 />
		
	</connectionStrings>
</configuration>
